* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/* -----Sections -----*/

body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

/* ----- Home Page Navbar----- */

.home {
    position: relative;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

.text-box {
    position: absolute;
    background: rgba(17, 17, 17, .6);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
    width: 50%;
    height: 50%;
    z-index: 2;
    inset: 0 0 0 0;
    margin: auto auto auto auto;
}

.text-container {
    margin: 50px 50px;
}
.text-box h3{
    color: rgba(190, 190, 190, 0.8);
    font-size: 50px;
    margin-top: 5px;
}



label.logo {
    color: rgb(255, 255, 255);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px; 
    margin: 0 5px;
};

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:link, a:hover, a:visited, a:active {
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,  a:hover {
    background: #1b9bff;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


@media (max-width: 962px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }

}

@media (max-width: 962px) {
    .checkbtn {
        display: block;
    } 

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
         display: block;
         margin: 50px 0;
         line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }
    
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }

}


/* -----Home Page Background----- */

.home .background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.home .background .row {
    position: relative;
    top: -50%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform:  rotate(-30deg  );
}

.home .background i {

    color: rgba(0, 0, 0 ,0 0.5) ;
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}

.home .background i:hover {
    transition: 0s;
    /* color: #0f0;
    text-shadow: 0 0 120px #0f0; */
    color: rgb(58, 255, 212);
    text-shadow: rgb(58, 255, 212);
}

.home .background .row div { 
    animation: animate1 80s linear 0.01s infinite;
    animation-delay: -80s;
}

.home .background .row div:nth-child(2) {
    animation: animate2 80s linear 0.01s infinite;
    animation-delay: -40s;
}

 @keyframes animate1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
    
}


@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
    
}

.home .background .row:nth-child(even) div { 
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}

.home .background .row:nth-child(even) div:nth-child(2) {
    animation: animate4 80s linear infinite; 
    animation-delay: -40s;
}

 @keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
    
}

@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
    
}

/* ----- About Page -----*/
.about {
    background: rosybrown;
}

/* ----- Skills Page -----*/
.skills {
    background: skyblue;
}

/* ----- Projects Page -----*/
.projects {
    background: slateblue;
}

/* ----- Form Page -----*/
.form {
    height: 100%;
    background: url(./img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

form {
    background: rgba(27, 31, 34, 0.8);
    width: 640px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 55px 30px;
}

.form form .title h2 {
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}


form label {
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

form .half .item input {
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
    color: white;
}

form .full {
    margin-bottom: 24px;
}

form .full textarea {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
    color: white;
}

form .action {
    margin-bottom: 32px;
}

form .action input {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
    color: white;
}

form .action input[type="submit"] {
    background: white;
    color: black;
}

form .icons a {
    border: 1px solid white;
    border-radius: 50%;
    line-height: 2em;
    text-align: center;
    font-weight: 600;
    width: 3em;
    margin-right: 10px;
}

form .action input:focus, form .full textarea:focus,
form .action input[type="reset"]:hover, form .icons a:hover {
    background: rgba(255, 255, 255, 0.075);
}

@media (max-width: 480px) {
    form .half {
        flex-direction: column;
    }

    form .half .item {
        width: 100%
    }

    form .action {
        display: flex;
        flex-direction: column;
    }

    form .action input {
        margin-bottom: 10px;
        width: 100%;
    }
}

