:root {
    /* Here should be written all variables necessary for the webseite */
    --dominantColor: rgb(58, 255, 212);
    --backgroundColor: rgba(17, 17, 17, .6);
    --textColor: rgb(255, 255, 255);
    --font-family: Arial, Helvetica, sans-serif;
    --typewriterSpeed: 5s;
    --blinkSpeed1: 750ms;
    --blinkSpeed2: 750ms;
    --typewriterDelay2: calc(var(--typewriterSpeed) + 6s);
    --typewriterCharacters1: 22;
    --typewriterCharacters2: 26;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/* -------------------------------------------- Sections -------------------------------*/

body {
    font-family: var(--font-family);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

/* -------------------------------------------- Home Page ---------------------------- */

.home {
    position: relative;
}

nav {
    /* background: #0082e6; */
    background: var(--backgroundColor);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
    height: 80px;
    width: 100%;
    z-index: 3;
    position: fixed;
}

.text-box {
    position: absolute;
    background: var(--backgroundColor);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
    width: 50%;
    height: 50%;
    z-index: 2;
    inset: 0 0 0 0;
    margin: auto auto auto auto;
    min-height: fit-content;
    min-width: fit-content;
}

.text-container {
    margin: 50px 50px; 
    min-height: fit-content;
    min-width: fit-content;
}

.text-box .text-container h3{
    color: rgba(255, 255, 255, 0.9);
    font-size: 28px;
    margin-top: 5px;
    position: relative;
    width: fit-content;
    font-family: monospace;
}
/*-------------------- Typewriter 1 ------------------*/
.text-box .text-container h3::after, .text-box .text-container h3::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
}

.text-box .text-container .first::before {
    background: rgba(17, 17, 17);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters1)) 3s forwards;
}

.text-box .text-container .first::after {
    width: .125em;
    background: whitesmoke;
    animation:
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters1)) 3s forwards,
        blink1 var(--blinkSpeed1) steps(24) forwards infinite;
}


/*----------------- Typewriter 2 -------------------*/

.text-box .text-container .second::before {
    background: rgba(17, 17, 17);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters2)) var(--typewriterDelay2) forwards;
}

.text-box .text-container .second::after {
    width: .125em;
    background: whitesmoke;
    animation:
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters2)) var(--typewriterDelay2) forwards,
        blink2 var(--blinkSpeed2) steps(24) forwards infinite;
}


.text-box .text-container p{
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 25px;
    margin-top: 120px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterDelay2) + var(--typewriterSpeed) + 1s) forwards;
}

.home .color-text {
    color: rgb(58, 255, 212);
    text-shadow: none;
}

label.logo {
    color: var(--textColor);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px; 
    margin: 0 5px;
};

nav ul li a{
    color: var(--textColor);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:link, a:hover, a:visited, a:active {
    color: var(--textColor);
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,  a:hover {
    /* background: #1b9bff; */
    background: rgb(45, 196, 163);
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: var(--textColor);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes typewriter {
   to {
       left: 100%;
       
   }
}

@keyframes blink1 {

   to {
       background: transparent;
   }
}

@keyframes blink2 {

    to {
        background: transparent;
    }
 }


@media (max-width: 962px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }

}

 @media (max-width: 432px) {

    .text-box .text-container h3 {
        font-size: 24px;
    }

    .text-box .text-container p{
        font-size: 21px;
    }

}

@media (max-width: 385px) {

    .text-box .text-container h3 {
        font-size: 20px;
    }

    .text-box .text-container p{
        font-size: 17px;
    }

}


@media (max-width: 962px) {
    .checkbtn {
        display: block;
    } 

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
         display: block;
         margin: 50px 0;
         line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }
    
    a:hover, a.active {
        background: none;
        color: rgb(58, 255, 212);
    }

    #check:checked ~ ul {
        left: 0;
        z-index: 1000;
    }

}


/* ------------------------------------------------ Home Page Background ------------------------- */

.home .background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.home .background .row {
    position: relative;
    top: -50%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform:  rotate(-30deg  );
}

.home .background i {

    color: rgba(0, 0, 0 ,0 0.5) ;
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}

.home .background i:hover {
    transition: 0s;
    /* color: #0f0;
    text-shadow: 0 0 120px #0f0; */
    color: rgb(58, 255, 212);
    text-shadow: rgb(58, 255, 212);
}

.home .background .row div { 
    animation: animate1 80s linear 0.01s infinite;
    animation-delay: -80s;
}

.home .background .row div:nth-child(2) {
    animation: animate2 80s linear 0.01s infinite;
    animation-delay: -40s;
}

 @keyframes animate1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
    
}


@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
    
}

.home .background .row:nth-child(even) div { 
    animation: animate3 80s linear infinite;
    animation-delay: -80s;
}

.home .background .row:nth-child(even) div:nth-child(2) {
    animation: animate4 80s linear infinite; 
    animation-delay: -40s;
}

 @keyframes animate3 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
    
}

@keyframes animate4 {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
    
}

/* ------------------------------------------------ About Page ---------------------------*/
.about {
    background: #111;
    position: relative;
}

.text-box2 {
    position: absolute;
    background: var(--backgroundColor);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
    height: 50%;
    z-index: 2;
    inset: 0 0 0 0;
    margin: auto auto auto auto;
    min-height: fit-content;
    min-width: fit-content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.text-box2 .left {
    margin-top: 50px;
    margin-left: 50px;

}

.text-box2 .left h3 {
    margin-bottom: 30px;
    color: var(--textColor);
    opacity: .9;
}

.text-box2 .left p {
    color: var(--textColor);
    opacity: .9;
    line-height: 45px;
}

.text-box2 .right{
    display: grid;
    position: relative;
    border-radius: 50%;
    max-width: 405px;
    max-height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
}

.text-box2 .right img {
    height: 100%;
    width: 100%;
}

.text-box2 .right::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,.5);
    border-radius: 50%;
}

.text-box2 .right::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,.8);
    border-radius: 50%;
    overflow: hidden;
    transition: transform .5s ease-in-out;
    transform-origin: center;
    transform: scaleY(1);
}

.text-box2 .right:hover:after {
    transform: scaleY(0);
}





/* ----------------------------------- Skills Page --------------------------*/
.skills {
    background: #111;
    position: relative;
}

.skills .text-box3 {
    position: absolute;
    background: var(--backgroundColor);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
    height: 50%;
    z-index: 2;
    inset: 0 0 0 0;
    margin: auto auto auto auto;
    min-height: fit-content;
    min-width: fit-content;
    display: grid;
}

.skills .skills-container {
    width: 500px;
    margin: 60px auto;
    color: white;

}

.skills li {
    margin: 20px 0;
}

.skills .bar {
    background: #353b48;
    display: block;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--dominantColor);
}

.bar span {
    height: 5px;
    float: left;
    background: var(--dominantColor);
    
}

.html {
    width: 90%;
    animation: html 2s;
}

.css {
    width: 65%;
    animation: css 2s;
}

.python {
    width: 70%;
    animation: python 2s;
}

.javascript {
    width: 90%;
    animation: javascript 2s;
}

.java {
    width: 90%;
    animation: java 2s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}



/* ------------------------------------------------ Projects Page ------------------------*/

.projects {
    background: #111;
    position: relative;
}

.projects .text-box4 {
    position: absolute;
    background: var(--backgroundColor);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
    height: 50%;
    z-index: 2;
    inset: 0 0 0 0;
    margin: auto auto auto auto;
    min-height: fit-content;
    min-width: fit-content;
}

.projects .text-box4 .projects-container {
    height: fit-content;
    width: fit-content;
    display: grid;
    position: absolute;
    grid-template-columns: 12em 12em 12em;
    grid-template-rows:  12em 12em;
    inset: 0 0 0 0;
    margin: auto auto auto auto;
    gap: 40px;
}

.projects .text-box4 .card {
    border: 2px solid white;
    border-radius: 10%;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.projects .text-box4 .card::before {
    content: "View Content";
    color: white;
    text-align: center;
    padding: 50% 0;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    position: absolute;
    transition: transform .5s ease-in-out;
    transform: scaleX(0);
    transform-origin: center;
    background: rgba(0, 0, 0 ,0.6);
}

.projects .text-box4 .card:hover {
    transform: scale(1.1);
}


.projects .text-box4 .card:hover:before {
    transform: scaleX(1);
}



.projects .text-box4 .projects-container .card img {
    height: 100%;
    width: 100%;
}


/* ------------------------------------------ Form Page -----------------------*/
.form {
    background: url(./img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--textColor);
    position: relative;
}

.form::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--backgroundColor);
}

form {
    background: rgba(27, 31, 34, 0.8);
    width: 640px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 55px 30px;
    position: relative;
    top: 90px;
}

.form form .title h2 {
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}


form label {
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

form .half .item input {
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
    color: var(--textColor);
}

form .full {
    margin-bottom: 24px;
}

form .full textarea {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
    color: var(--textColor);
}

form .action {
    margin-bottom: 32px;
}

form .action input {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
    color: var(--textColor);
}

form .action input[type="submit"] {
    background: white;
    color: black;
}

form .icons a {
    border: 1px solid white;
    border-radius: 50%;
    line-height: 2em;
    text-align: center;
    font-weight: 600;
    width: 3em;
    margin-right: 10px;
}

form .action input:focus, form .full textarea:focus,
form .action input[type="reset"]:hover, form .icons a:hover {
    background: rgba(255, 255, 255, 0.075);
}

@media (max-width: 480px) {
    form .half {
        flex-direction: column;
    }

    form .half .item {
        width: 100%
    }

    form .action {
        display: flex;
        flex-direction: column;
    }

    form .action input {
        margin-bottom: 10px;
        width: 100%;
    }
}

