.landing-page {
    display: 'flex';
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Mobile Responsive */

.call-to-action {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    justify-content: flex-start;
}

.landing-page .textbox {
    padding-top: 11em;
    padding-left: 8em;
    height: 70vh;
}

@media only screen and (max-width:768px) {
    .landing-page {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .landing-page .textbox {
        padding-top: 0;
        padding-left: 0;
    }

    .call-to-action {
        justify-content: center;
    }
}